@model FrontEndEvaluacionAcademia.NET.ViewModels.UserViewModel

<div class="modal fade" id="userModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Alta y/o modificación de Usuarios.</h5>
            </div>
            @if (Model.CodUser==0)
            {
                @using (Html.BeginForm("Register", "/Users", FormMethod.Post))
                {
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-6 mt-1 mb-3">
                                <label class="col-md-4 form-control-label">Nombre</label>
                                @Html.EditorFor(x=> x.Name, new {htmlAttributes = new {@class = "col-md-8 form-control" } })
                            </div>
                            <div class="col-md-6 mt-1 mb-3">
                                <label class="col-md-2 form-control-label">DNI</label>
                                @Html.EditorFor(x=> x.Dni, new {htmlAttributes = new {@class = "col-md-8 form-control" } })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mt-1 mb-3">
                                <label class="col-md-2 form-control-label">Mail</label>
                                @Html.EditorFor(x=> x.Email, new {htmlAttributes = new {@class = "col-md-8 form-control" } })
                            </div>
                            <div class="col-md-6 mt-1 mb-3">
                                <label class="col-md-5 form-control-label">Clave</label>
                                @Html.EditorFor(x=> x.Password, new {htmlAttributes = new {@class = "col-md-8 form-control" } })
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-success" id="btnGuardar">Guardar</button>
                    </div>
                }
            }
            else
            {
                @using (Html.BeginForm("UpdateUser", "/Users", FormMethod.Post))
                {
                    <div class="modal-body">

                        <div class="row">
                            <div class="col-md-6 mt-1 mb-3">
                                <label class="col-md-4 form-control-label">ID:</label>
                                @Html.EditorFor(x=> x.CodUser, new {htmlAttributes = new {@class = "col-md-8 form-control", @readonly = "readonly" } })
                            </div>
                            <div class="col-md-6 mt-1 mb-3">
                                <label class="col-md-4 form-control-label">Nombre</label>
                                @Html.EditorFor(x=> x.Name, new {htmlAttributes = new {@class = "col-md-8 form-control" } })
                            </div>

                            <div class="col-md-6 mt-1 mb-3">
                                <label class="col-md-2 form-control-label">DNI</label>
                                @Html.EditorFor(x=> x.Dni, new {htmlAttributes = new {@class = "col-md-8 form-control" } })
                            </div>

                            <div class="col-md-6 mt-1 mb-3">
                                <label class="col-md-2 form-control-label">Mail</label>
                                @Html.EditorFor(x=> x.Email, new {htmlAttributes = new {@class = "col-md-8 form-control" } })
                            </div>
                        </div>

                        <div class="row">

                            <div class="col-md-6 mt-1 mb-3">
                                <label class="col-md-5 form-control-label">Clave</label>
                                @Html.EditorFor(x=> x.Password, new {htmlAttributes = new {@class = "col-md-8 form-control" } })
                            </div>


                        </div>

                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-success" id="btnGuardar">Guardar</button>
                    </div>
                }
            }
        </div>
    </div>
</div>
<div class="modal fade" id="userDeleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Eliminación de Usuario.</h5>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger">
                    <h4 class="alert-heading">Confirmación de Eliminación</h4>
                    <p class="mb-0">¿Está seguro de que desea eliminar este usuario? ID: @Model.CodUser</p>
                </div>
            </div>
            <div class="modal-footer">
                <!-- Botón "Cancelar" -->

                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <!-- Botón "Confirmar" -->
                @using (Html.BeginForm("DeleteUser", "/Users", FormMethod.Post))
                {
                    @Html.HiddenFor(model => model.CodUser)
                    <button type="submit" class="btn btn-danger">Confirmar</button>
                }
            </div>
        </div>
    </div>
</div>
